.devserver-notify-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background: #00e7ff;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    opacity: 0;
}